@*
 * アカウント登録用フォーム画面
 *@

@(vv: model.site.auth.ViewValueSignup)(implicit messages: Messages, requestHeader: RequestHeader)
@main(vv.title){
  <div class="form">
    @helper.form(vv.action) {
      @helper.CSRF.formField
      <div class="form__field">
        @helper.inputText(vv.form("name"),
          '_label      -> "ユーザー名",
          'placeholder -> "username",
          'class       -> "text-box"
        )
      </div>
      <div class="form__field">
        @helper.inputText(vv.form("email"),
          '_label      -> "メールアドレス",
          'placeholder -> "mail@example.com",
          'class       -> "text-box"
        )
      </div>
      <div class="form__field">
        @helper.inputPassword(vv.form("password"),
          '_label      -> "パスワード",
          'placeholder -> "password",
          'class       -> "text-box"
        )
      </div>
      <div class="form__submit">
        <input class="button" type="submit" value=@vv.submit>
      </div>
      <div class="form__note">
        すでに登録済みですか？
        <a href="@routes.UserController.showLoginForm">ログイン</a>
      </div>
    }
  </div>
  <p><a href=@controllers.routes.HomeController.index()>ホームへ戻る</a></p>
}

